@model MvcAtoZ.Components.Card.CardViewModel

<div class="card">
    <h4 class="card-header">@Model.Header</h4>
    <div class="card-body">
        <p class="card-text">@Model.Body</p>
        <a class="btn btn-primary" href="@Model.Url">@Model.UrlLabel</a>
    </div>
</div>
