@model MvcAtoZ.Components.ContentTile.ContentTileViewModel
    
<div>
    <h2>@Model.Header</h2>
    <p>@Model.Body</p>
    <p><a class="btn btn-default" href="@Model.Url">@Model.UrlLabel</a></p>
</div>
