<div class="row">
    <div class="col-md-4">
        @Html.Sitecore().Placeholder("3-column-left")
    </div>
    <div class="col-md-4">
        @Html.Sitecore().Placeholder("3-column-middle")
    </div>
    <div class="col-md-4">
        @Html.Sitecore().Placeholder("3-column-right")
    </div>
</div>
