<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true }) - Sitecore and MVC A-to-Z</title>
    <link href="~/Content/bootstrap.simplex.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("navigation")
    </header>
    <main role="main" class="container">
        @Html.Sitecore().Placeholder("content-main")
    </main>
    <footer>
        <div class="container">
            <hr />
            <p>&copy; @DateTime.Now.Year - Sitecore and MVC A-to-Z</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
